@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.sliding-border {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.sliding-border::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #d81313;
    transition: width .3s;
}

.sliding-border:hover::after {
    width: 100%;
    transition: width .3s;
}

.sidebar .nav-item:hover {
    /* background-color: #f2f2f2;
    border-radius: 10px; */
}

.sidebar .nav-item .nav-link {
    color: #000000 !important;
}

.sidebar .nav-item .nav-link:hover {
    color: #d81313 !important;
}

.navbar-toggler {
    border: 0px;
    outline: none !important;
    font-size: 1.8rem;
    color: #000000;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: 0px;
    box-shadow: none;
}

.ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-custom {
    color: #000000;
}

.text-custom:hover {
    color: #d81313 !important;
}